{% extends base.html %}
{% block content %}
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <a href="#" class="navbar-brand">Gaz</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Management</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}
